[Desktop Entry]
Type=Application
Version=1.5
Name=Block Wallet
GenericName=Cryptocurrency Wallet
Comment=Self-custody Bitcoin, Ethereum, Solana and Litecoin wallet
Exec=block_wallet
Icon=io.github.BlockBreakersHQ.BlockWallet
Terminal=false
Categories=Finance;Office;GTK;GNOME;
Keywords=bitcoin;ethereum;wallet;crypto;self-custody;
StartupNotify=true
StartupWMClass=io.github.BlockBreakersHQ.BlockWallet
DBusActivatable=false
X-Purism-FormFactor=Workstation;Mobile;
# Translators: Do not translate
X-GNOME-UsesNotifications=false
